body{
    position: relative;
}
#container{
    margin-top: 20px;
    padding: 10px;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 25%;
    
    
    
}
#innercontainer{
    
}

h1{
    margin: 20px;
}
button {
    margin: 20px;
    padding: 10px;
}
.btn{
    margin: 10px;
}
#card-details{
    
    padding: 10px;
    text-align: center;
}
.bj{
    margin: auto;
    text-align: center
}

table{
    border-collapse: collapse;
    border: 1px solid  #868e96;
    letter-spacing: 1px;
    font-size: 0.83m;
    margin: 0 auto;
}

td, th{
    border: 1px solid #868e96;
    padding: 10px 20px;

}
#update td{
    border: none;
}

.valid{
    color: lightgreen;
}

.invalid{
    color: red;
}

#validity:hover{
    color: lightblue;
}
